#main {
    background-color: hsl(0, 0%, 20%);
    margin: 20px;
    height: 40px;
    width: 280px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;

}

#main:hover {
    background-color: hsl(75, 94%, 57%);
    border: none;
    color: hsl(0, 0%, 8%);
    cursor: url('/src/assets/Images/icons8-hand-cursor.svg'), pointer;
    transition: all 0.3s ease;
}